<footer>
  <div class="container">
    <p>&copy; 2017 Genealizando. All Rights Reserved.</p>
    <ul class="list-inline">
      <li>
        <a onClick="ga('send', {hitType: 'pageview', page: '/Privacy'});" href="#">Privacy</a>
      </li>
      <li>
        <a onClick="ga('send', {hitType: 'pageview', page: '/Terms'});" href="#">Terms</a>
      </li>
      <li>
        <a onClick="ga('send', {hitType: 'pageview', page: '/FAQ'});" href="#">FAQ</a>
      </li>
    </ul>
  </div>
</footer>