<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="header-content">
          <div class="header-content-inner text-center">
            <h1> Genializando é o novo app de jogos para crianças se transformarem em pequenos gênios!</h1>
            <a onClick="ga('send', {hitType: 'pageview', page: '/Download'});" href="#download" class="btn btn-outline btn-xl page-scroll">Comece a jogar com seu filho agora mesmo!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>